[submodule "CatEngine/vendors/spdlog"]
	path = CatEngine/vendors/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "CatEngine/vendors/GLFW"]
	path = CatEngine/vendors/GLFW
	url = https://github.com/anythingsoup01/GLFW.git
